<div class="container-fluid">
  <h1 class='text-center m-b-50 m-t-50'>Registration Page</h1>
  <div class="row">
    <div class="col-sm-5 text-right">
      <b class="lbl-text">User ID:</b>

    </div>
    <div class="col-sm-3">
      <mat-form-field>
        <input matInput placeholder="User Id" [(ngModel)]="dataObj.uid">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 text-right">

      <b class='lbl-text'> Password:</b>
    </div>
    <div class="col-sm-3">
      <mat-form-field>
        <input matInput placeholder="Password" [(ngModel)]="dataObj.pwd">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5 text-right">
      <b class="lbl-text">Email:</b>

    </div>
    <div class="col-sm-3">
      <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="dataObj.email">
      </mat-form-field>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-5 text-right">
      <b class="lbl-text">Phone:</b>

    </div>
    <div class="col-sm-3">
      <mat-form-field>
        <input matInput placeholder="Phone" [(ngModel)]="dataObj.phone">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <input type="button" class="btn btn-primary" value='Register' (click)="fnReg()" />
    </div>

  </div>
</div>

<p>
</p>